/* ==========================================================================
   Content -- main & aside
   ========================================================================== */

.content {
  margin: 0 auto;
  max-width: 44em;
  padding: 1em;
}

/* Make subsequent content blocks have zero padding */
.content + .content {
  padding-top: 0;
}
