<!doctype html>
<html lang="en-gb">
{{> head}}
<body class="no-js {{ pageClass }}">

  {{> header}}
  <main class="content" role="main">

    {{{ contents }}}

  </main>
  </div><!-- end .main__wrapper -->

  {{> aside}}

{{> footer}}

<script src="/assets/scripts.js"></script>
</body>
</html>
