<!doctype html>
<html lang="en-gb">
{{> head}}
<body class="no-js post">
  {{> header}}
  <h1>{{ title }}</h1>
  <time>{{ date }}</time>
  {{{ contents }}}

  {{> footer}}

<script src="/assets/scripts.js"></script>
</body>
</html>
